<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Agregar Cliente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        
        <section th:fragment="agregarCliente">
            <div id="agregarProveedor" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Cliente</h5>
                            <button class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div> 
                        <form th:action="@{/guardarCliente}" th:object="${cliente}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="ruccliente" th:text="#{cliente.ruccliente}">RUC</label>
                                    <input type="text" class="form-control" name="ruccliente" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="razonsocialcliente" th:text="#{cliente.razonsocialcliente}">Razon Social</label>
                                    <input type="text" class="form-control" name="razonsocialcliente" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="telefonocliente" th:text="#{cliente.telefonocliente}">Telefono</label>
                                    <input type="text" class="form-control" name="telefonocliente" >
                                </div>
                                <div class="form-group">
                                    <label for="email" th:text="#{cliente.email}">Email</label>
                                    <input type="email" class="form-control" name="email" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="contactocliente" th:text="#{cliente.contactocliente}">Contacto</label>
                                    <input type="text" class="form-control" name="contactocliente">
                                </div>
                                <div class="form-group">
                                    <label for="direccioncliente" th:text="#{cliente.direccioncliente}">Dirección</label>
                                    <input type="text" class="form-control" name="direccioncliente" required="true">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>