<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Agregar Proveedor</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="agregarProveedor">
            <div id="agregarProveedor" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Proveedor</h5>
                            <button class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div> 
                        <form th:action="@{/guardarProveedor}" th:object="${proveedor}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="ruc" th:text="#{proveedor.ruc}">RUC</label>
                                    <input type="text" class="form-control" name="ruc" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="razonsocial" th:text="#{proveedor.razonsocial}">Razon Social</label>
                                    <input type="text" class="form-control" name="razonsocial" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="telefono" th:text="#{proveedor.telefono}">Telefono</label>
                                    <input type="text" class="form-control" name="telefono">
                                </div>
                                <div class="form-group">
                                    <label for="correo" th:text="#{proveedor.correo}">Email</label>
                                    <input type="email" class="form-control" name="correo" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="contacto" th:text="#{proveedor.contacto}">Contacto</label>
                                    <input type="text" class="form-control" name="contacto">
                                </div>
                                <div class="form-group">
                                    <label for="direccion" th:text="#{proveedor.direccion}">Drección</label>
                                    <input type="text" class="form-control" name="direccion" required="true">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>