<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Editar Cliente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="editarCategoria">
            <form th:action="@{/guardarCategoria}" th:object="${categoria}"
                  method="POST" class="was-validated">
                <input type="hidden" name="idcategoria" th:field="*{idcategoria}"/>
                <section th:replace="layout/botonesEditarCategoria :: botonesEditarCategoria"></section>
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.editar}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre">[[#{categoria.nombre}]]</label>
                                            <input type="text" class="form-control" name="nombrecategoria" 
                                                   required="true" th:field="*{nombrecategoria}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        
    </body>
</html>
