<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Editar Cliente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="editarCliente">
            <form th:action="@{/guardarCliente}" th:object="${cliente}"
                  method="POST" class="was-validated">
                <input type="hidden" name="idcliente" th:field="*{idcliente}"/>
                <section th:replace="layout/botonesEditarCliente :: botonesEditarCliente"></section>
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.editar}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="ruccliente">[[#{cliente.ruccliente}]]</label>
                                            <input type="text" class="form-control" name="ruccliente" 
                                                   required="true" th:field="*{ruccliente}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="razonsocialcliente">[[#{cliente.razonsocialcliente}]]</label>
                                            <input type="text" class="form-control" name="razonsocialcliente" 
                                                   required="true" th:field="*{razonsocialcliente}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="telefonocliente">[[#{cliente.telefonocliente}]]</label>
                                            <input type="text" class="form-control" name="telefonocliente" 
                                                    th:field="*{telefonocliente}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">[[#{cliente.email}]]</label>
                                            <input type="email" class="form-control" name="email" 
                                                   required="true" th:field="*{email}"/>
                                        </div>
                                         <div class="form-group">
                                            <label for="contactocliente">[[#{cliente.contactocliente}]]</label>
                                            <input type="text" class="form-control" name="contactocliente" 
                                                    th:field="*{contactocliente}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="direccioncliente">[[#{cliente.direccioncliente}]]</label>
                                            <input type="text" class="form-control" name="direccioncliente" 
                                                   required="true" th:field="*{direccioncliente}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>