<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Proveedores</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="listadoProveedores" id="proveedores">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{proveedor.titulo-lista}]]</h4>
                            </div>
                            <div th:if="${proveedores != null and !proveedores.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{proveedor.ruc}">RUC</th>
                                            <th th:text="#{proveedor.razonsocial}" style="text-align: center;">Razon Social</th>
                                            <th th:text="#{proveedor.telefono}">Telefono</th>
                                            <th th:text="#{proveedor.correo}" style="text-align: center;">Email</th>
                                            <th th:text="#{proveedor.contacto}">Contacto</th>
                                            <th th:text="#{proveedor.direccion}">Dirección</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="proveedor, contador : ${proveedores}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${proveedor.ruc}]]</td>
                                            <td>[[${proveedor.razonsocial}]]</td>
                                            <td>[[${proveedor.telefono}]]</td>
                                            <td>[[${proveedor.correo}]]</td>
                                            <td>[[${proveedor.contacto}]]</td>
                                            <td>[[${proveedor.direccion}]]</td>
                                            <td>
                                                <a th:href="@{/editarProveedor/} + ${proveedor.idproveedor}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/eliminarProveedor(idproveedor=${proveedor.idproveedor})}"
                                                   class="btn btn-dark">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>  
                            <div class="text-center p-2" th:if="${proveedores == null or proveedores.empty}">
                                <span th:text="#{proveedor.lista-vacia}">Lista vacía</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">

                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3 th:text="#{proveedor.totalProveedores}">Total</h3>
                                <h4 class="display-4">
                                    <i class="fas fa-users"></i> [[${totalProveedores}]]
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
