<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Categorias</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="listadoCategorias" id="categorias">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{categoria.titulo-lista}]]</h4>
                            </div>
                            <div th:if="${categorias != null and !categorias.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{categoria.nombre}">Nombre</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="categoria, contador : ${categorias}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${categoria.nombrecategoria}]]</td>
                                            <td>
                                                <a th:href="@{/editarCategoria/} + ${categoria.idcategoria}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/eliminarCategoria(idcategoria=${categoria.idcategoria})}"
                                                   class="btn btn-dark">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>  
                            <div class="text-center p-2" th:if="${categorias == null or categorias.empty}">
                                <span th:text="#{categoria.lista-vacia}">Lista vacía</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
