<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Productos</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="listadoProductos" id="productos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{producto.titulo-lista}]]</h4>
                            </div>
                            <div th:if="${productos != null and !productos.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{producto.codigo}">Codigo</th>
                                            <th th:text="#{producto.nombre}">Nombre</th>
                                            <th th:text="#{producto.idunidadmedida}">Nombre</th>
                                            <th th:text="#{producto.tipomoneda}">Nombre</th>
                                            <th th:text="#{producto.costoproducto}">Nombre</th>
                                            <th th:text="#{producto.precioproducto}">Nombre</th>
                                            <th th:text="#{producto.idlocalizacion}">Nombre</th>
                                            <th th:text="#{producto.stock}">Nombre</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="producto, contador : ${productos}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${producto.codigoproducto}]]</td>
                                            <td>[[${producto.nombreproducto}]]</td>
                                            <td>[[${producto.idunidadmedida}]]</td>
                                            <td>[[${producto.tipomoneda}]]</td>
                                            <td>[[${new java.text.DecimalFormat('#,##0.00').format(producto.costoproducto)}]]</td>
                                            <td>[[${producto.precioproducto}]]</td>
                                            <td>[[${producto.idlocalizacion}]]</td>
                                            <td>[[${producto.stock}]]</td>
                                            <td>
                                                <a th:href="@{/editarProducto/} + ${producto.idproducto}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/eliminarProducto(idproducto=${producto.idproducto})}"
                                                   class="btn btn-dark">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>  
                            <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                                <span th:text="#{producto.lista-vacia}">Lista vacía</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </body>
</html>
